on early-init

on init

on early-fs

on fs

on post-fs

on post-fs-data

on early-boot

on boot

# Service add below.

service CameraDaemon /vendor/bin/CameraDaemon hi3650 NEXT
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm system dsm
    ioprio rt 4
    capabilities SYS_NICE
    writepid /dev/cpuset/top-app/tasks /dev/stune/top-app/tasks