NEXT_IMX298_LG=/odm/etc/camera/hwscope/NEXT_imx298_lg/
NEXT_IMX298_LITEON=/odm/etc/camera/hwscope/NEXT_imx298_liteon/
EVA_IMX286DUAL_LITEON=/odm/etc/camera/hwscope/imx286dual/
EVA_IMX286DUAL_SHARP=/odm/etc/camera/hwscope/imx286dual/
EVA_IMX286DUAL_SUNNY=/odm/etc/camera/hwscope/imx286dual/
EVA_IMX286LEGACYDUAL=/odm/etc/camera/hwscope/imx286dual/
KNIGHT_IMX286DUAL_LITEON=/odm/etc/camera/hwscope/imx286dual/
KNIGHT_IMX286DUAL_SHARP=/odm/etc/camera/hwscope/imx286dual/
KNIGHT_IMX286DUAL_SUNNY=/odm/etc/camera/hwscope/imx286dual/
KNIGHT_IMX286LEGACYDUAL=/odm/etc/camera/hwscope/imx286dual/
VIENNA_IMX286DUAL_LITEON=/odm/etc/camera/hwscope/imx286dual/
VIENNA_IMX286DUAL_SHARP=/odm/etc/camera/hwscope/imx286dual/
VIENNA_IMX286DUAL_SUNNY=/odm/etc/camera/hwscope/imx286dual/
EDISON_IMX278_SUNNY=/odm/etc/camera/hwscope/EDISON_imx278_sunny/
EDISON_IMX278_LITEON=/odm/etc/camera/hwscope/EDISON_imx278_liteon/
BTV_OV8858_FOXCONN=/odm/etc/camera/hwscope/BTV_ov8858_foxconn/
BTV_IMX219_LITEON_BACK=/odm/etc/camera/hwscope/BTV_imx219_liteon/
BTV_IMX219_OFILM_BACK=/odm/etc/camera/hwscope/BTV_imx219_ofilm/
NATASHA_IMX286DUAL_LITEON=/odm/etc/camera/hwscope/imx286dual/
NATASHA_IMX286DUAL_SHARP=/odm/etc/camera/hwscope/imx286dual/
NATASHA_IMX286DUAL_SUNNY=/odm/etc/camera/hwscope/imx286dual/
